<%- include('partial/header') %> 
    <div class="contact-content font1 max-width-1 m-auto">
        <div class="max-width-1 m-auto mx-1">
            <h2>Fell Free To Contact Us</h2>
            <div class="contact-form">
                <div class="form-box">
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="form-box">
                    <input type="text" placeholder="Enter your Phone Number">
                </div>
                <div class="form-box">
                    <input type="email" placeholder="Enter your Email">
                </div>
                <div class="form-box">
                    <textarea placeholder="Enter Your Message" name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="form-box">
                    <button class="btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- This is footer -->
<%- include('partial/footer') %> 