<%- include("/partial/header") %> 

    <div class="home-articles max-width-1 m-auto  font2">
        <h2>Search Result for Nodejs</h2>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/4.jpg" alt="article">
            </div>
            <div class="home-article-content font1">
                <a href="/blog.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>

                <span>Author Name</span>
                <div class="max-width-1 m-auto">
                    <hr>
                </div>
                <span>15 November | 5 min read</span>
            </div>

        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/3.jpg" alt="article">
            </div>
            <div class="home-article-content font1">
                <a href="/blog.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a> <span>Author Name</span>
                <div class="max-width-1 m-auto">
                    <hr>
                </div>
                <span>15 November | 5 min read</span>
            </div>

        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/2.jpg" alt="article">
            </div>
            <div class="home-article-content font1">
                <a href="/blog.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a> <span>Author Name</span>
                <div class="max-width-1 m-auto">
                    <hr>
                </div>
                <span>15 November | 5 min read</span>
            </div>

        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/1.jpg" alt="article">
            </div>
            <div class="home-article-content font1">
                <a href="/blog.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a> <span>Author Name</span>
                <div class="max-width-1 m-auto">
                    <hr>
                </div>
                <span>15 November | 5 min read</span>
            </div>

        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/1.jpg" alt="article">
            </div>
            <div class="home-article-content font1">
                <a href="/blog.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a> <span>Author Name</span>
                <div class="max-width-1 m-auto">
                    <hr>
                </div>
                <span>15 November | 5 min read</span>
            </div>

        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/4.jpg" alt="article">
            </div>
            <div class="home-article-content font1">
                <a href="/blog.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a> <span>Author Name</span>
                <div class="max-width-1 m-auto">
                    <hr>
                </div>
                <span>15 November | 5 min read</span>
            </div>

        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/3.jpg" alt="article">
            </div>
            <div class="home-article-content font1">
                <a href="/blog.html">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a> <span>Author Name</span>
                <div class="max-width-1 m-auto">
                    <hr>
                </div>
                <span>15 November | 5 min read</span>
            </div>

        </div>
    </div>

 <%- include("partial/footer");