<div class="footer max-width-2 m-auto">
    <p >Copyright &copy; iBlog.com </p> <a class="px-20" href="https://www.vecteezy.com/free-vector/typing">Vector
        Credits:vecteezy</a>
</div>
</body>

</html>