<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBlog - Heaven for bloggers
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/utilis.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/blogpost.css">
    <link rel="stylesheet" href="/mobile.css">

</head>

<body>
    <!-- This is for navigation -->
    <nav class="navigation max-width-1 m-auto">
        <div class="nav-left">
            <a style="color: black; text-decoration: none;" href="/"><span>iBlog</span></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="border-l" href="/create">Upload</a></li>
                <li><a style="color: #ebca67;" class="border-l-invert" href="/logout">Logout</a></li>
            </ul>

        </div>
        <div class="nav-right">
            <form action="/search" method="get">
                <input class="form-input" type="text" name="query" placeholder="Search the article">
                <button class="btn">Search</button>
            </form>

        </div>
    </nav>


    <div class="max-width-1 m-auto">
        <hr>
    </div>